---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/p9oq1ve41d7r/entries/6k1EeBPXLqeMWquSKCWwCm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-05467ee6fb04813b035f2a98efcb3559df932cb72be90af3c5b5a5b191ea23c5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"e39a519b6db4f5f7a83d373aa482399e"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35988'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 3ccd2874ddcf6388afc638079250c576
      X-Iinfo:
      - 4-5944400-5944410 NNNN CT(0 0 0) RT(1534882886275 84) q(0 0 0 -1) r(2 2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "p9oq1ve41d7r"
              }
            },
            "id": "6k1EeBPXLqeMWquSKCWwCm",
            "type": "Entry",
            "createdAt": "2018-04-30T15:53:22.470Z",
            "updatedAt": "2018-08-21T13:25:45.245Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "publishedCounter": 8,
            "version": 54,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "publishedVersion": 53,
            "firstPublishedAt": "2018-04-30T15:54:44.112Z",
            "publishedAt": "2018-08-21T13:25:45.245Z",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "article"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "We're Still Testing!"
            },
            "slug": {
              "en-US": "test10"
            },
            "body": {
              "en-US": "# egestas eget quam\n\n[Cras justo odio](#), dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.\n\nVivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/p9oq1ve41d7r/content_types/article
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-05467ee6fb04813b035f2a98efcb3559df932cb72be90af3c5b5a5b191ea23c5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200[...]
