---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/p9oq1ve41d7r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-05467ee6fb04813b035f2a98efcb3559df932cb72be90af3c5b5a5b191ea23c5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"8343050cb64d8ed0978279a6dfaef964"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35990'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 3b218472a7b450e6063624ec208af596
      X-Iinfo:
      - 9-5567042-5567067 NNNN CT(0 1 0) RT(1534879546977 77) q(0 0 0 -1) r(1 1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"crds-int",
          "sys":{
            "type":"Space",
            "id":"p9oq1ve41d7r",
            "version":2,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "createdAt":"2018-04-22T01:38:35Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "updatedAt":"2018-07-10T16:41:47Z"
          }
        }

  recorded_at: Tue, 21 Aug 2018 19:25:47 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/p9oq1ve41d7r/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-05467ee6fb04813b035f2a98efcb3559df932cb72be90af3c5b5a5b191ea23c5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"97ca42d5a948a000ba4aaeb1b4bb6b26"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35989'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 364dd7688031c192dca69e5afdbe7156
      X-Iinfo:
      - 1-1707304-1707311 NNNN CT(1 1 0) RT(1534879547258 76) q(0 0 0 -1) r(3 3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 16,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "p9oq1ve41d7r"
                  }
                },
                "id": "podcast",
                "type": "ContentType",
                "createdAt": "2018-04-26T20:21:08.768Z",
                "updatedAt": "2018-05-21T02:12:58.318Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7mpVTy16YTWTkVoEtxgfFe"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7mpVTy16YTWTkVoEtxgfFe"
                  }
                },
                "publishedCounter": 2,
                "version": 4,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7mpVTy16YTWTkVoEtxgfFe"
                  }
                },
                "publishedVersion": 3,
                "firstPublishedAt": "2018-04-26T20:21:09.103Z",
                "publishedAt": "2018-05-21T02:12:58.318Z"
              },
              "displayField": "title",
              "name": "Podcast",
              "description": "Podcast, or a grouping of audio episodes",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": true,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "subtitle",
                  "name": "Subtitle",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "slug",
                  "name": "Slug",
                  "type": "Symbol",
                  "localized": false,
                  "required": true,
                  "validations": [
                    {
                      "unique": true
                    }
                  ],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
       [...]
