---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/int
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/17;
      Authorization:
      - Bearer CFPAT-a8db6ef53f1a248131f6fccffe748ec20fae6493b647aa317bf6933745facee6
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"9069017bb5f1d3d1ae027de2ac6e8f79"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - f2f0acf49e25f3a3df3ece761f806e8d
      X-Iinfo:
      - 4-38080266-38080286 NNNN CT(0 0 0) RT(1547574364863 78) q(0 0 0 -1) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"int",
          "sys":{
            "type":"Environment",
            "id":"int",
            "version":6,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"y3a9myzsdjan"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "createdAt":"2019-01-08T14:07:27Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "updatedAt":"2019-01-08T14:09:16Z"
          }
        }

  recorded_at: Tue, 15 Jan 2019 17:46:05 GMT
recorded_with: VCR 4.0.0
